div#app-loading {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    z-index: 8000;
    opacity: 0.7;
    -ms-flex-align: center;
    align-items: center;
}
.message-global {
    position: fixed;
    top: 40%;
    z-index: 9999999;
    text-align: center;
    padding: 6px 25px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    background: #1b1b1b;
    opacity: .9;
    color: #fff;
    border-radius: 25px;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
}
#error-message, #success-message, #warning-message {
    font-size: 18px;
    font-weight: 400;
}
.list-item-content {
    display: flex;
    align-items: center;
}
.list-item-content .item-title {
    margin-left: 10px;
    margin-right: 10px;
}
.flex {
    display: flex;
    align-items: center;
}
.item-more.flex{
    padding: 10px 25px 10px 15px;
    font-size: 13px;
    background: #1a2226;
}
.tmooquiz-header .logo {
    text-align: center;
    font-size: 22px;
}